.project-block_margin {
  margin-bottom: 120px;
}

.project-masonry-block {
  font-size: 16px;
  line-height: 1.8;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -52px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    padding: 0 52px;
    width: 50%;
  }

  &__img-wrap {
    order: 1;
  }

  &__text {
    min-height: 310px;
    &_bottom {
      display: flex;
      align-items: flex-end;
      order: 2;
    }
    &_top {
      order: 0;
    }
  }
}

@include respond-to($lg){
  .project-masonry-block{
    &__inner {
      margin: 0 -26px;
    }
    &__card {
      padding: 0 26px;
    }
  }
}

@include respond-to($sm){
  .project-masonry-block{
.container{
  padding: 0;
}
    &__text {
      height: auto;
      min-height: 0;
      padding: 40px 30px;
    }
    &__card {
      width: 100%;
    }
  }
}