.our-solutions {
  padding-bottom: 230px;
}

.slider-solutions {
  background: rosybrown;
  max-width: 1628px;
  width: 90%;
  &__thumb{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }
  &__link{
    display: block;
    font-size: 18px;
    color: #818181;
    margin-top: auto;
    width: 70%;
  }
  &__title{
    font-size: 25px;
    font-weight: 400;
    color: #000000;
  }
  .part_left{
    position: relative;
    width: 54%;
    padding-top: 35.32%;
    max-width: 879px;
  }
  .part_right{
    position: relative;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    width: 46%;
    padding-left: 135px;
    padding-bottom: 32px;
  }
  .swiper-pagination{
    bottom: 0;
    text-align: left;
    padding-left: 135px;
  }
  .navigation-block{
    position: absolute;
    bottom: 32px;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 75px;
  }
}

.slider-project{
  &__slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
      padding-top: 53.75%;
  }
}

@media only screen and (max-width: 1661px) {

}

@include respond-to($xl) {

}

@include respond-to($lg) {

}

@include respond-to($sm) {

}