.section-banner {
  height: 100vh;
}

.banner-slider {
  height: 100%;
  color: #ffffff;

  &__slide {
    display: flex;
    align-items: flex-end;
    padding-bottom: 100px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.00507926) 23.71%, rgba(0, 0, 0, 0) 40.25%, rgba(0, 0, 0, 0.00507926) 58.16%, rgba(0, 0, 0, 0.5) 85.9%);
      z-index: 1;
    }
  }

  &__link {
    display: block;
    position: relative;
    z-index: 2;
  }

  .swiper-slide-active {
    .banner-slider__img {
      animation: zoom 20s;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

@include respond-to($xl) {
.section-banner {
  .section__title{
    font-size: 48px;
  }
}
}


@include respond-to($md) {
  .section-banner {

  }
}

@include respond-to($sm) {
  .banner-slider {
    &__slide {
      padding-bottom: 63px;
    }
    .section__title{
      font-size: 40px;
    }
  }
}







