.we-in-world {
  padding-bottom: 260px;
  .d-flex{
    flex-wrap: wrap;
  }
  .part_left {
    position: relative;
    width: 68%;
    min-height: 444px;
    padding-top: 37%;
    margin-bottom: 125px;
  }
.wrap-img{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70vw;
  max-width: 1000px;
  z-index: 1;
}

  .part_right {
    width: 32%;
    padding-left: 90px;

  }
  .section__title{
    margin-bottom: 26px;
  }
  .section__text{
    margin-bottom: 38px;
  }
}

.partners{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 -30px;
  &__item{
    padding: 0 30px;
  }
  &__img{
      width: auto;
      height: 27px;
  }
}

@include respond-to($lg){
  .we-in-world{
    padding-bottom: 190px;
    overflow: hidden;
    .wrap-img{
      direction: rtl;
      width: 100vw;
      right: calc((-100vw + 100%) / 2);
      left: auto;
      overflow-x: auto;
      img {
        max-width: none;
        max-height: 100%;
        height: 100%;
        width: auto;
      }
    }
    .part_right{
      width: 100%;
      padding-left: 0;
      margin-bottom:0;
      padding-bottom: 160px;
    }
    .part_left{
      width: 100vw;
      min-height: auto;
      margin-bottom: 50px;
      padding-top: 65%;
    }
    .btn_main{
      min-width: 200px;
    }
  }
  .partners{
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    &__item{
      width: 30%;
      margin-bottom: 56px;
      padding: 0;
      img{
        display: block;
        margin: 0 auto;
      }
      &:nth-child(4){
        order: 3;
      }
      &:nth-child(5){
        order: -1;
      }
    }
  }
}

@include respond-to($sm){
  .we-in-world{
    .part_left {
      padding-top: 100%;
    }
  }
}

@include respond-to($xs){
  .we-in-world{
    padding-bottom: 90px;
  }
  .partners{
    &__img{
      height: 20px;
    }
  }
}
