.form {
  font-size: 17px;
  width: 100%;

  .input {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffc200;
    line-height: 1;
    padding: 14px 10px 15px 0;
  }

  ::placeholder {
    color: rgba(0, 0, 0, .5);
  }
}

.form-contacts {
  width: 55%;
  display: flex;

  .form-group {
    max-width: 140px;
    margin-right: 75px;
    &:last-child{
      margin-right: 0;
    }
  }
  .btn_submit{
    margin-left: auto;
  }
}

@include respond-to($xl) {

}
