.services-list{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-bottom: 66px;
  li:last-child{
    .btn-service{
      margin-right: 0;
    }
  }
  .btn-service{
    display: inline-block;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffc200;
    margin-right: 135px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    font-family: $main-font;
  }
}

@include respond-to($lg){
  .services-list{
    .btn-service{
      margin-right: 90px;
      margin-bottom: 23px;
    }
  }
}

@include respond-to($sm){
  .services-list{
    .btn-service{
      margin-right: 40px;
    }
  }
}

@include respond-to($xs){
  .services-list{
    .btn-service{
      margin-right: 23px;
    }
  }
}