:root {
  font-size: 16px;
}

.wrapper {
  width: 100%;
  flex: 1 0 auto;
}

body {
  font: 400 1em/1.2 $main-font;
  color: #000000;
  font-feature-settings: 'pnum' on, 'lnum' on;
  background-color: #f3f3f3;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  &.modal-open {
    overflow: hidden;
    height: 100vh;
  }
}

.d-flex {
  display: flex;
}

.text_yellow{
  color: #ffc200;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.section {
  &__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 1.17;
    &_sm{
      font-size: 45px;
    }
  }

  &__title-big {
    font-weight: 600;
    font-size: 154px;
    color: #e7e7e7;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3em;
    padding: 0 30px;
  }

  &__sub-title {
    font-size: 25px;
  }
}

.dynamic-content {
  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 2.2em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  h1,h2{
    font-weight: 500;
    font-size: 82px;
  }
  h3{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 40px;
    margin-top: 40px;
    line-height: 1.5;
  }
  h4{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    line-height: 1.5;
  }

  img {
    max-width: 100%;
    height: auto;
    &.alignleft {
      float: left;
      margin: 117px 73px 117px 0;
    }
    &.alignright {
      float: right;
      margin: 73px 0 117px 117px;
    }
    &.aligncenter {
      display: block;
      margin: 117px auto 117px;
      clear: both;
    }
  }
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.contact-btn {
  position: sticky;
  position: -webkit-sticky;
  right: 50px;
  top: 30%;
  width: 90px;
  height: 90px;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  z-index: 300;
  left: 93%;
  &.ui.background--dark {
    filter: invert(1);
  }

  &.ui.background--white {
    filter: invert(0);
  }



  .img_written {
    vertical-align: middle;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    width: 100%;
    height: auto;

  }

  .wrap-img-written {
    display: inline-block;
    background-image: url('../assets/img/logo-small-black.svg');
    background-position: center;
    -webkit-background-size: 24px;
    background-size: 24px;
    background-repeat: no-repeat;

  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @include respond-to($lg) {
    width: 76px;
    height: 76px;
    right: 30px;
  }
  @include respond-to($sm) {
    position: fixed;
    bottom: 28px;
    top: auto;
    z-index: 300;
    &.sticky {
      position: fixed;
      top: auto;
      bottom: 28px;
    }
  }
  @include respond-to($xs) {
    width: 67px;
    height: 67px;
    right: 12px;
    .wrap-img-written {
      -webkit-background-size: 18px;
      background-size: 18px;
    }
  }
}
.sticky {
  position: fixed;
  top: auto;
  bottom: 80px;
  right: 7%;
}
.section_anim {
  opacity: 0;
  -webkit-transition: opacity ease-in .5s;
}

.section_in-view {
  opacity: 1;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .5);
  z-index: 500;
}

@include respond-to($xxl){
  .section__title-big{
    font-size: 118px;
  }
}

@include respond-to($lg){
  .section__title-big{
    font-size: 95px;
  }
}

@include respond-to($md){
  .dynamic-content{
    h1,h2{
      font-size: 68px;
    }
    img {
      max-width: 100%;
      height: auto;
      &.alignleft {
        float: left;
        margin: 63px 73px 63px 0;
      }
      &.alignright {
        float: right;
        margin: 73px 0 63px 63px;
      }
      &.aligncenter {
        display: block;
        margin: 63px auto 63px;
        clear: both;
      }
    }
  }
}

@include respond-to($sm) {
  .section__title {
    font-size: 40px;
  }
  .section__sub-title {
    font-size: 20px;
  }
  .section__title-big{
    font-size: 70px;
    letter-spacing: 0.06em;
  }
  .dynamic-content{
    p{
      margin-bottom: 20px;
    }
    hi,h2{
      font-size: 50px;
    }
    h3{
      font-size: 30px;
      margin-top: 0;
    }
    h4{
      font-size: 20px;
      margin-top: 0;
    }
    img {
      max-width: 100%;
      height: auto;
      &.alignright,
      &.alignleft {
        float: none;
        margin:  43px 0;
      }
      &.aligncenter {
        display: block;
        margin: 43px auto 43px;
        clear: both;
      }
    }
  }

}

@include respond-to($xs) {
  .section__title-big{
    font-size: 50px;
    letter-spacing: 0.06em;
  }
  .dynamic-content{

    hi,h2{
      font-size: 40px;
    }
    h3, h4{
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 12px;
    }
  }
}

@media screen and (max-width: 360px) {
  .section__title-big{
    font-size: 43px;
    padding: 0 15px;
  }

}
