@import "../layout/sections/project-masonry";

.single-project {
  
  .page-title {
    text-align: center;
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 1.175;
    font-weight: 500;
  }

  .properties-block {
    display: flex;
    flex-wrap: wrap;
    color: #838383;
    margin: 0 -50px 30px;
    font-size: 16px;
    line-height: 1.5;

    &__item {
      padding: 10px 50px;
    }

    strong {
      font-weight: 500;
      color: black;
      display: inline-block;
      margin-left: 16px;
    }
  }
}

