@import "../layout/sections/project-masonry";

.single-project {
  
  .page-title {
    text-align: center;
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 1.175;
    font-weight: 500;
  }

  .properties-block {
    display: flex;
    flex-wrap: wrap;
    color: #838383;
    font-size: 16px;
    line-height: 1.5;
    margin: 0  0 30px 0;
    &__item {
      padding: 10px 0;
    }

    strong {
      font-weight: 500;
      color: black;
      display: inline-block;
      margin-left: 16px;
    }
  }
}

