.projects {
  padding-top: 185px;

  .section__title-big {
    margin-bottom: 45px;
  }

  .projects-list {
    padding-bottom: 102px;
    overflow: hidden;
  }

  .project-block_margin {
    margin-bottom: 64px;
  }

  .project-masonry-block {
    &__inner {
      margin: 0 -58px;
    }

    &__card {
      padding: 0 58px;
      width: 33.33%;

      &:hover,
      &:focus {
        .project-masonry-block__img {
          transform: scale(1.05);
        }
      }
    }

    &__card.break {
      &:hover,
      &:focus {
        .project-masonry-block__img {
          transform: none;
        }
      }
    }

    &__img-wrap {
      order: 0;
      overflow: hidden;
    }

    &__img {
      transition: 2.5s;
    }

    &__title h3 {
      font-weight: 500;
      font-size: 19px;
      line-height: 1.157;
      color: #000000;
      margin-top: 14px;
    }
  }
}

@include respond-to($lg) {
  .projects {
    .project-masonry-block__card {
      width: 50%;
    }
  }
}

@include respond-to($md) {
  .projects .project-masonry-block {
    &__inner {
      margin: 0 -40px;
    }

    &__card {
      padding: 0 40px;
    }
  }
}

@include respond-to($sm) {
  .projects {

    .project-block_margin {
      margin-bottom: 85px;
    }

    .projects-list {
      padding-bottom: 40px;
    }

    .project-masonry-block {
      &__card {
        width: 100%;
        &:last-child {
          margin-bottom: 20px;
        }
        &.break {
          display: none;
        }
      }

      &__img-wrap {
        position: relative;
        padding-top: 95%;
      }

      &__img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &__title {
        padding-left: 30px;
      }
    }
  }
}

@include respond-to($xs){
  .projects{
    padding-top: 145px;
  }
}


