.projects{
  .project-block_margin {
    margin-bottom: 64px;
  }

  .project-masonry-block {
    &__inner {
      margin: 0 -58px;
    }

    &__card {
      padding: 0 58px;
      width: 33.33%;

    }
    &__img-wrap {
      order: 0;
    }

    &__title h3 {
      font-weight: 500;
      font-size: 19px;
      line-height: 1.157;
      color: #000000;
      margin-top: 14px;
    }
  }
}
