@import "../layout/sections/project-masonry";

.single-project {
  padding-top: 164px;

  .btn-more {
    display: none;
    margin: 40px auto 0;
  }

  article {
    margin-bottom: 170px;
  }

  .description {
    margin-bottom: 100px;

    p {
      margin-bottom: 1em;
    }
  }

  .page-title {
    text-align: center;
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 1.175;
    font-weight: 500;
  }

  .properties-block {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    color: #838383;
    margin: 0 -50px 30px;
    font-size: 16px;
    line-height: 1.5;

    &__item {
      padding: 10px 50px;
    }

    strong {
      font-weight: 500;
      color: black;
      display: inline-block;
      margin-left: 16px;
    }
  }
}

@include respond-to($xxl) {
  .single-project {
    .properties-block {
      margin: 0 -20px 30px;

      &__item {
        padding: 10px 20px;
      }
    }
  }
}

@include respond-to($md) {

  .single-project {
    .page-title {
      margin-bottom: 37px;
      font-size: 44px;
    }

    .properties-block {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 30px;

      &__item {
        font-size: 15px;
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 5px 0;
      }

      strong {
        width: 30%;
        flex-shrink: 0;
        font-size: 16px;
      }
    }
  }
}

@include respond-to($sm) {

  .single-project {
    .text-hide {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .description {
      margin-bottom: 40px;
    }

    .btn-more {
      display: block;
      margin-bottom: 50px;
    }
  }
}


@include respond-to($xs) {
  .single-project {
    .page-title {
      font-size: 35px;
    }

    .description {
      margin-bottom: 50px;
    }
  }
}

