.blog {
  padding-top: 188px;
  overflow: hidden;

  .container {
    position: relative;
  }

  .section__title-big {
    margin-bottom: 37px;
  }
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -42px 70px;

  &__item {
    width: 33.33%;
    padding: 0 62px;
    margin-bottom: 143px;

    &:hover,
    &:focus {
      .card-post__wrap-thumb img {
        transform: scale(1.05);
      }
    }

  }

  .card-post {
    display: block;
  }

  .card-post__title {
    font-weight: 500;
    font-size: 19px;
    line-height: 1.16;
    color: #000000;
  }

  .card-post__wrap-thumb {
    position: relative;
    min-height: 416px;
    margin-bottom: 11px;
    overflow: hidden;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: .8s;
      z-index: 1;
    }
  }
}

@include respond-to($xxl) {
  .blog-list {
    margin-right: -50px;
    margin-left: -50px;
&__item{
  padding: 0 50px;
}
  }
}

@include respond-to($xl) {
  .blog-list {
    margin-right: -40px;
    margin-left: -40px;

    &__item {
      margin-bottom: 120px;
      padding: 0 40px;
    }

    .card-post__wrap-thumb {
      min-height: 326px;
    }
  }
}

@include respond-to($lg) {
  .blog-list {
    &__item {
      width: 50%;
    }

    .card-post__wrap-thumb {
      min-height: 360px;
    }
  }
}


@include respond-to($sm) {
  .blog-list {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;

    &__item {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 90px;
    }

    .card-post__wrap-thumb {
      min-height: 382px;
    }
  }
}

@include respond-to($xs) {
  .blog {
    padding-top: 145px;
  }
}

