.footer {
  flex: 0 0 auto;

  .contacts {
    padding-top: 50px;
    padding-bottom: 35px;
    color: #5f5f5f;
    font-size: 12px;
    display: flex;
    justify-content: space-between;

    &__item {
      width: 33.33%;
      max-width: 205px;

      &:last-child {
        .name-contact {
          margin-bottom: 35px;
        }
      }
    }

    &__item-header {
      margin-bottom: 20px;
      color: #5f5f5f;
    }

    .title {
      color: #5f5f5f;
      font-size: 18px;
      font-weight: 400;
    }

    &__link {
      display: block;
    }

    .activity {
      margin-bottom: 15px;
    }

    .name-contact {
      font-size: 18px;
    }

    .phone {
      font-size: 15px;
    }

    .email {
      font-size: 13px;
      margin-bottom: 28px;
    }
  }

  .social-bar {
    display: flex;

    &__link {
      display: block;
      width: 17px;
      height: 17px;
      margin-right: 37px;

      &:last-child {
        margin-right: 0;
      }

      .svg-icon_social {
        width: 17px;
        height: 17px;
        fill: #5f5f5f;
      }
    }
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  &__text {
    width: 59%;
    font-size: 8px;
  }

  .copyright {
    font-size: 11px;
    text-transform: uppercase;
  }

}



@include respond-to($md) {
  .footer {
    &_bottom {
      flex-direction: column;
    }

    &__text {
      width: 100%;
      margin-top: 9px;
    }

    .contacts__item {
      width: 45%;
      max-width: 100%;
    }

    .contacts__item:last-child {
      display: none;
    }
  }
}

@include respond-to($sm) {
  .footer {
    .contacts {
      flex-wrap: wrap;
      color: #000000;
      padding-top: 18px;
      padding-bottom: 0;

      &__item {
        position: relative;
        width: 100%;
        padding-bottom: 7px;
        padding-top: 30px;

        &:first-child {
          &:after {
            position: absolute;
            content: '';
            display: block;
            background-color: #ffc200;
            width: 100vw;
            height: 1px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;

          }
        }
      }

      &__item-header {
        width: 50%;
        float: right;
      }

      .phone {
        font-weight: 500;
        font-size: 25px;
        white-space: nowrap;
      }
    }

    .name-contact {
      font-size: 20px;
      font-weight: 500;
    }

    .activity {
      margin-bottom: 20px;
    }

    .social-bar {
      display: none;
    }
  }
}