.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 750;
  background-color: transparent;
  line-height: 1.28;
  padding: 25px 0;
  transition: .35s linear;

  &_active {
   top: -100%;
  }

  &.ui.background--light,
  &.ui.background--complex {
    filter: invert(0);
  }

  &.ui.background--dark {
    filter: invert(1);
  }

  &.header_home.ui.background--light,
  &.header_home.ui.background--complex {
    filter: invert(1);
  }

  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__logo {
    width: 143px;
    height: auto;
    display: block;
    margin-right: auto;
    filter: invert(1);
  }

  &-nav {
    &__header,
    &__footer {
      display: none;
    }
  }

  .social-bar {
    display: flex;
    padding-top: 46px;
    justify-content: center;

    &__link {
      display: block;
      width: 27px;
      height: 27px;
      margin: 0 28px;

      .svg-icon_social {
        width: 27px;
        height: 27px;
        fill: #000000;
      }
    }
  }

  .btn-burger {
    position: relative;
    display: none;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 41px;
    height: 18px;
    filter: invert(1);

    .line {
      display: block;
      width: 100%;
      margin-bottom: 8px;
      height: 2px;
      background-color: #ffffff;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #000000;
    margin-left: 135px;
    transition: .35s;

    &:hover,
    &:focus {
      text-shadow: 0 0 1px #000000, 0 0 1px #000000;
    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    filter: invert(1);

    .svg-icon_phone {
      width: 26px;
      height: 26px;
      fill: #ffffff;
    }
  }

  @include respond-to($lg) {
    padding: 37px 0 20px;
    .container {
      justify-content: space-between;
    }
    .header-nav {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      color: #000000;
      text-align: center;
      background-image: url(../assets/img/bg-nav.png);
      background-color: #f3f3f3;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: translateX(100%);
      transition: .35s;
      height: 100vh;
      z-index: 900;
      overflow-y: auto;

      &.open {
        transform: translateX(0);
      }

      .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 167px;
        min-height: 100%;
      }

      &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 37px;
        padding-bottom: 20px;

      }

      &__footer {
        text-align: center;
        width: 100%;
      }

      &__link-phone {
        font-size: 36px;
        margin-bottom: 5px;

        .svg-icon_phone {
          path {
            fill: #000000;
          }
        }
      }

      .btn {
        min-width: 204px;
      }
    }
    .address {
      font-size: 14px;
      margin-bottom: 30px;
    }
    .header-nav__footer,
    .btn-burger {
      display: block;
    }
    &__logo {
      width: 40px;
      margin-left: auto;
    }
    &__link {
      margin-left: 0;

      .text {
        display: none;
      }
    }
    &__icon {
      margin-right: 0;
    }

  }

  @include respond-to($xs) {
    .btn-burger {
      width: 37px;

      .line {
        height: 3px;
        margin-bottom: 6px;
      }
    }
    &__link {
      margin-left: 11px;
    }
    .header-nav {
      text-align: left;

      .container {
        padding: 0 34px 160px;
      }
    }
  }

  @media screen and (max-width: 380px) {
    padding-top: 20px;
    .header-nav .container {
      padding-left: 15px;
      padding-right: 15px;
    }
    .header-nav__header {
      padding-top: 20px;
    }
    .header-nav__link-phone {
      font-size: 30px;
    }
  }
}

